.titel {
  font-size: 12px;
}

.Gamerblock {
  padding: 10px;
  position: relative;
}

.Gamer {
  margin-bottom: 50px;
}

.Gamerface {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.Gamername {
  margin: 0;
}

.contact-link {
  color: black;
}

.footer {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
}

.carousel {
  height: 30%;
}

.dropdown-menu {
  text-align: left;
}

body {
  background-color: #997ab8;
  text-align: center;
  font-size: 12px;
  padding-top: 65px;
}

p {
  font-size: 12px
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
}

@media only screen and (min-width: 500px) {
  .Gamer {
    display: inline-block;
    padding: 10px;
  }

  .Gamerface {
    height: 200px;
    width: 200px;
  }

}

@media only screen and (min-width: 760px) {
  .title {
  }
}
